<!--Shopping Explorer-->
<div class="container" style="background-color: rgb(241, 231, 250); margin-bottom: 20px;">
    <div class="row text-center">
        <h2>Explore Products</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="container" style="background-color: white; margin: 10px;">
                <div class="row">
                    <img src="assets/nandishiva.jfif" alt="">
                    <div class="badges">
                        <span class="badge bg-danger">new</span>
                    </div>
                </div>
                <div class="row">
                    <h6>Copper Finish Sitting NandiShiva Statue Indian God Idol Sculpture</h6>
                </div>
                <div class="row">
                    <p>Price rs.3,250/Peaces</p>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                    </div>
                    <div class="col-md-2">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container" style="background-color: white; margin: 10px;">
                <div class="row">
                    <img src="assets/ganeshji.jpg" alt="">
                </div>
                <div class="row">
                    <h6>Metal Laxmi Ganesha Enamel</h6>
                </div>
                <div class="row">
                    <p>Price rs.715/Peaces</p>
                </div>
                <div class="row">
                    <div class="col-md-10">
                         <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                    </div>
                    <div class="col-md-2">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container" style="background-color: white; margin: 10px;">
                <div class="row">
                    <img src="assets/wooden.jpg" alt="">
                    <div class="badges">
                        <span class="badge bg-danger">new</span>
                    </div>
                </div>
                <div class="row">
                    <h6>Kadam Wood Antique Kamal ganesha 10 inch</h6>
                </div>
                <div class="row">
                    <p>Price rs.1,985/Peaces</p>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                    </div>
                    <div class="col-md-2">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container" style="background-color: white; margin: 10px;">
                <div class="row">
                    <img src="assets/ironcan.jpg" alt="" width="100%" height="300px">
                </div>
                <div class="row">
                    <h6>Iron Craft T-Light Candle Holder Home & Garden Decor</h6>
                </div>
                <div class="row">
                    <p>Price rs.655/Peaces</p>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                    </div>
                    <div class="col-md-2">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="container" style="background-color: white; margin: 10px;">
                <div class="row">
                    <img src="assets/karvasteel.jfif" alt="" height="300px">
                </div>
                <div class="row">
                   <h6>ABC Handicrafts Meenakari Karva Chauth Steel Handmade Thali With</h6>
                </div>
                <div class="row">
                    <p>Price rs.999/Peaces</p>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                    </div>
                    <div class="col-md-2">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container" style="background-color: white; margin: 10px;">
                <div class="row">
                    <img src="assets/jwbox.jfif" alt="" height="300px">
                    <div class="badges">
                        <span class="badge bg-danger">new</span>
                    </div>
                </div>
                <div class="row">
                   <h6>Elegant Wooden Jwellery Box Handpainted/Wooden Chest Of </h6>
                </div>
                <div class="row">
                    <p>Price rs.819/Peaces</p>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                    </div>
                    <div class="col-md-2">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container" style="background-color: white; margin: 10px;">
                <div class="row">
                    <img src="assets/elephanat.jfif" alt="" height="300px" width="100%">
                    <div class="badges">
                        <span class="badge bg-danger">new</span>
                    </div>
                </div>
                <div class="row">
                    <h6>Metal Meenakari Elephant Statue Enamel Work Sculpture</h6>
                </div>
                <div class="row">
                    <p>Price rs.333/Peaces</p>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                    </div>
                    <div class="col-md-2">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container" style="background-color: white; margin: 10px;">
                <div class="row">
                    <img src="assets/headhorse.jpg" alt="" height="300px">
                </div>
                <div class="row">
                  <h6>ABC Handicrafts Iron Horse Head Statue With Stand Embassed Work</h6>
                </div>
                <div class="row">
                    <p>Price rs.1,249/Peaces</p>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                    </div>
                    <div class="col-md-2">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--click to view more-->
<div class="contaiiner text-center" style="margin-bottom: 120px;">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-light" (click)="showMoreImage()">VIEW MORE</button>
        </div>
    </div>
</div>
<!--more items list-->
<div *ngIf="shoeImages">
    <div class="container" style="background-color: rgb(241, 231, 250); margin-bottom: 20px;">


        <div class="row">
            <div class="col-md-3">
                <div class="container" style="background-color: white; margin: 10px;">
                    <div class="row">
                        <img src="assets/imgsell.jfif" alt="">
                    </div>
                    <div class="row">
                        <h6>Copper Finish Sitting Laxmiji Statue Indian God Idol Sculpture</h6>
                    </div>
                    <div class="row">
                        <p>Price rs.3,250/Peaces</p>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                        </div>
                        <div class="col-md-2">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container" style="background-color: white; margin: 10px;">
                    <div class="row">
                        <img src="assets/ramji.jpg" alt="" width="100%" height="300px">
                        <div class="badges">
                            <span class="badge bg-danger">new</span>
                        </div>
                    </div>
                    <div class="row">
                        <h6>Metal Ramji Sitaji Laxmanji Hanumanji Enamel</h6>
                    </div>
                    <div class="row">
                        <p>Price rs.715/Peaces</p>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                             <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                        </div>
                        <div class="col-md-2">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container" style="background-color: white; margin: 10px;">
                    <div class="row">
                        <img src="assets/budhstautesel.jpg" alt="" width="100%">
                    </div>
                    <div class="row">
                        <h6>Kadam Wood Antique Budh  10 inch</h6>
                    </div>
                    <div class="row">
                        <p>Price rs.1,985/Peaces</p>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                        </div>
                        <div class="col-md-2">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container" style="background-color: white; margin: 10px;">
                    <div class="row">
                        <img src="assets/carsellimg.webp" alt="" width="100%" height="300px">
                        <div class="badges">
                            <span class="badge bg-danger">new</span>
                        </div>
                    </div>
                    <div class="row">
                        <h6>Iron Craft T-Golden Car</h6>
                    </div>
                    <div class="row">
                        <p>Price rs.655/Peaces</p>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                        </div>
                        <div class="col-md-2">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="container" style="background-color: white; margin: 10px;">
                    <div class="row">
                        <img src="assets/camelimg.jfif" alt="" height="300px">
                    </div>
                    <div class="row">
                       <h6>ABC Handicrafts Meenakari Camel With</h6>
                    </div>
                    <div class="row">
                        <p>Price rs.999/Peaces</p>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                        </div>
                        <div class="col-md-2">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container" style="background-color: white; margin: 10px;">
                    <div class="row">
                        <img src="assets/horsegolden.jfif" alt="" width="100%" height="300px">
                    </div>
                    <div class="row">
                       <h6>Elegant Wooden Horse  </h6>
                    </div>
                    <div class="row">
                        <p>Price rs.819/Peaces</p>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                        </div>
                        <div class="col-md-2">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container" style="background-color: white; margin: 10px;">
                    <div class="row">
                        <img src="assets/tree.jfif" alt="" width="100%" height="300px">
                        <div class="badges">
                            <span class="badge bg-danger">new</span>
                        </div>
                    </div>
                    <div class="row">
                        <h6>Golden Era Tree Sculpture</h6>
                    </div>
                    <div class="row">
                        <p>Price rs.333/Peaces</p>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                        </div>
                        <div class="col-md-2">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container" style="background-color: white; margin: 10px;">
                    <div class="row">
                        <img src="assets/rajimg.jpg" alt="" width="100%" height="300px">
                        <div class="badges">
                            <span class="badge bg-danger">new</span>
                        </div>
                    </div>
                    <div class="row">
                      <h6>ABC Handicrafts Rajasthani Showcase  </h6>
                    </div>
                    <div class="row">
                        <p>Price rs.1,249/Peaces</p>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <button><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button> 
                        </div>
                        <div class="col-md-2">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>