<div class="container text-center" style="margin-top: 50px; background-color: rgb(244, 242, 245);">
    <div class="row">
        <p>Testimonials</p>
        <h2> Our Clients Say</h2>
    </div>
    <div class="row ">
        <!--first box-->
        <div class="container boxc">

            <div class=" client-say-box">
                <div class="container text-center" style="display: inline-block;">
                    <div class="row">
                        <img src="assets/clisay.jfif" alt="" height="200px" style="width: 300px; margin-left: 400px; border-radius: 700px;">
                        <h5>Excellent customer service and stunning store filled with the best handmade goods. I'll buy
                            from this store again <br> because of the reasonable prices!</h5>
                        <h3>Ramakrishna K</h3>
                        <h3 style="color: orange;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i></h3>
                    </div>
                </div>
            </div>
            <!--second Box-->
            <div class=" client-say-box">
                <div class="container text-center" style="display: inline-block;">
                    <div class="row">
                        <img src="assets/wooden.jpg" alt="" height="200px" style="width: 300px; margin-left: 400px; border-radius: 700px;">
                       <h5>A great location to view the beautiful handicrafts. It's great to have a place like this where customers can browse and learn about the beauty of crafts.</h5>
                        <h3>Keshab Nath</h3>
                        <h3 style="color: orange;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i></h3>
                    </div>
                </div>
            </div>
            <!--box3-->
            <div class=" client-say-box">
                <div class="container text-center" style="display: inline-block;">
                    <div class="row">
                        <img src="assets/imgsss.jpg" alt="" height="200px" style="width: 300px; margin-left: 400px; border-radius: 700px;">
                      <h5>The workers' talent and abilities are astounding. Even though some of the components they use in the designs are tiny, they grind and shape them to fit flawlessly. There is a wide selection of lovely things.</h5>
                        <h3> Giuseppe Pompili</h3>
                        <h3 style="color: orange;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i></h3>
                    </div>
                </div>
            </div>
            <div class=" client-say-box">
                <div class="container text-center" style="display: inline-block;">
                    <div class="row">
                        <img src="assets/nandishiva.jfif" alt="" height="200px" style="width: 300px; margin-left: 400px; border-radius: 700px;">
                        <h5>Excellent customer service and stunning store filled with the best handmade goods. I'll buy
                            from this store again <br> because of the reasonable prices!</h5>
                        <h3>Ramakrishna K</h3>
                        <h3 style="color: orange;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i></h3>
                    </div>
                </div>
            </div>
            <div class=" client-say-box">
                <div class="container text-center" style="display: inline-block;">
                    <div class="row">
                        <img src="assets/karvasteel.jfif" alt="" height="200px" style="width: 300px; margin-left: 400px; border-radius: 700px;">
                        <h5>Excellent customer service and stunning store filled with the best handmade goods. I'll buy
                            from this store again <br> because of the reasonable prices!</h5>
                        <h3>Ramakrishna K</h3>
                        <h3 style="color: orange;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i></h3>
                    </div>
                </div>
            </div>
            <div class=" client-say-box">
                <div class="container text-center" style="display: inline-block;">
                    <div class="row">
                        <img src="assets/clisay.jfif" alt="" height="200px" style="width: 300px; margin-left: 400px; border-radius: 700px;">
                        <h5>Excellent customer service and stunning store filled with the best handmade goods. I'll buy
                            from this store again <br> because of the reasonable prices!</h5>
                        <h3>Ramakrishna K</h3>
                        <h3 style="color: orange;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i></h3>
                    </div>
                </div>
            </div>



        </div>


    </div>
    <div class="row">
        <h2>abchandicrafts.jaipur@instagram</h2>
    </div>
    <div class="row" style="margin: 20px;">
        <div class="col-md-3">
            <img src="assets/imgsell.jfif" alt="">
        </div>
        <div class="col-md-3">
            <img src="assets/ramji.jpg" alt="" width="100%">
        </div>
        <div class="col-md-3">
            <img src="assets/budhstautesel.jpg" alt="" width="100%">
        </div>
        <div class="col-md-3">
            <img src="assets/carsellimg.webp" alt="" width="100%" height="300px">
        </div>
    </div>
    <div class="row" style="margin: 20px;">
        <div class="col-md-3">
            <img src="assets/camelimg.jfif" alt="" height="300px" width="100%">
        </div>
        <div class="col-md-3">
            <img src="assets/horsegolden.jfif" alt="" width="100%">
        </div>
        <div class="col-md-3">
            <img src="assets/tree.jfif" alt="" width="100%">
        </div>
        <div class="col-md-3">
            <img src="assets/rajimg.jpg" alt="" width="100%" height="300px">
        </div>
    </div>
    <div class="row" style="margin: 20px 0px 20px 100px;">
        <div class="container ">
            <div class="row">
                <div class="col-md-4">
                    <button><i class="fa-brands fa-instagram"></i> Follow on Instagram</button>
                </div>
            </div>
        </div>

    </div>
</div>