<div class="container">

    <div class="slider">
        <div class="slides">
            <img src="assets/hource.jpg" alt="">
            <img src="assets/imgs.jpg" alt="">
            <img src="assets/ironcan.jpg" alt="">
            <img src="assets/wooden.jpg" alt="">
            <img src="assets/ramji.jpg" alt="">
            <img src="assets/ganeshji.jpg" alt="">
        </div>
        <div class="navigation">
            <div class="prev" (click)="prevSlide()">
                <button class="btn btn-dark"><i class="fa-solid fa-left fa-4x"></i>PREV</button>
            </div>
        </div>
        <div class="navigation1">
            <div class="next" (click)="nextSlide()">
                <button class="btn btn-dark"> <i class="fa-regular fa-right fa-2x"></i>NEXT</button>
            </div>
        </div>
    </div>
</div>